<html>

<head>
</head>

<body>
    <div class="flashcard" id="main-flashcard">
        <div id="word">{{selection}}</div>
        <div id="context-text">Text placeholder</div>
        <div id="reference">{{lookupRef}}</div>
        <div id="translation">Translation placeholder</div>
        <div id="tags">Tags placeholder</div>
    </div>
    <div id="control-panel">
        <button id="previous">Previous</button>
        <button id="next">Next</button>
    </div>
    <div>
        For testing only:
        Definition:
        {{defStr}}
        Context:
        {{ctxStr}}
    </div>

</body>

</html>