<div class="flashcard" id="main-flashcard" *ngIf="contextObject && definitionObjects">
    <mat-card>
        <!-- TODO: update formatting for this card -->
        <ng-container *ngIf="showContext">
            <mat-card-title>{{contextObject?.ref}}</mat-card-title>
            <div id="card-context-text">
                {{contextObject?.text}}</div>
            <div id="card-context-he">
                {{contextObject?.he}}</div>
        </ng-container>
        <button mat-button (click)="toggleContext()">{{contextButtonText}}</button>
    </mat-card>
    <div id="left-right"><button mat-button  color="accent" (click)="increment(-1)">Previous Definition</button><span class="spacer"></span><button mat-button color="accent" (click)="increment()">Next Definition</button></div>
    <mat-card class="flashcard-create">
        <mat-card-title>{{this.definitionObjects[definitionIndex].headword}}</mat-card-title>
        <mat-card-subtitle>{{this.definitionObjects[definitionIndex].content.morphology}}</mat-card-subtitle>
        <mat-card-content>
            <div class="sense" *ngFor="let sense of this.definitionObjects[definitionIndex].content.senses">
                {{sense.definition}}
            </div>
            <!-- TODO: figure what else to display here () -->
        </mat-card-content>
    </mat-card>
</div>
<div id="bottom-flashcard-panel">
    <!-- does not do anything -->
    <button mat-raised-button color="primary" id="save">Save this Definition</button>
</div>